<nav class="navbar">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
    <a routerLink="/registro" routerLinkActive="active">Registro</a>
    <a routerLink="/listado" routerLinkActive="active">Listado y Consultas</a>
    <a routerLink="/AcercaDe" routerLinkActive="active" >Acerca del Proyecto</a>
    <a routerLink="/problema" routerLinkActive="active" >Problemas</a>
    <a routerLink="/Funcionalidad" routerLinkActive="active" >Funcionalidades</a>
    <a routerLink="/metodologia" routerLinkActive="active" >Metodología</a>
</nav>
