<nav class="navbar">
    <a routerLink="/inicio" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
    <a routerLink="/registro" routerLinkActive="active">Registro</a>
    <a routerLink="/listado" routerLinkActive="active">Listado y Consultas</a>
    <a routerLink="/inicio" fragment="solucion">Acerca del Proyecto</a>
    <a routerLink="/inicio" fragment="problemas">Problemas</a>
    <a routerLink="/inicio" fragment="modulos">Funcionalidades</a>
    <a routerLink="/inicio" fragment="metodologia">Metodología</a>
</nav>
