    <section id="solucion" class="section solution-intro">
        <h2 class="slide-in-left">Acerca del Proyecto: AgroSoft y Estancia del 10 💡</h2>
        <div class="intro-grid">
            <div class="company-card card-hover">
                <h3>Empresa Desarrolladora: AgroSoft</h3>
                <p>AgroSoft surgió en 2005 con un objetivo claro: acercar la tecnología al sector agropecuario. Nuestra misión es impulsar este sector con soluciones innovadoras y eficientes.</p>
                <p>Visión: Ser el aliado tecnológico más confiable del productor rural.</p>
                
                <div class="logo-container">
                    <img src="assets/Logo.png" alt="Logo de AgroSoft" class="logo logo-animate">
                </div>
            </div>
            <div class="company-card card-hover">
                <h3>Empresa Solicitante: Estancia del 10</h3>
                <p>Con 38 años de trayectoria, Estancia del 10 es referente en la cría y comercialización de <strong>ganado bovino</strong> (vacas y toros). Se dedican a la cría, recría y engorde, abarcando todo el ciclo productivo.</p>
                <p class="note-bene">El proyecto busca optimizar la gestión de su actividad ganadera, garantizando un manejo eficiente y control preciso de las operaciones de venta.</p>
                
                <div class="logo-container">
                    <img src="assets/LogoCliente.png" alt="Logo de Estancia del 10" class="logo logo-animate">
                </div>
            </div>
        </div>
    </section>