    <section id="problemas" class="section problems-benefits">
        <h2 class="slide-in-right">Desafíos y Beneficios 📈</h2>
        
        <div class="container-split">
            <div class="list-card card-hover">
                <h3>Problemas Actuales de Estancia del 10</h3>
                <ul>
                    <li>Procesos manuales y desconexión de datos en la gestión de animales.</li>
                    <li>Control ineficiente de stock de ganado (altas, bajas, peso, raza).</li>
                    <li>Dificultades en el registro sanitario.</li>
                    <li>Escasa digitalización e integración tecnológica para la gestión ganadera.</li>
                </ul>
            </div>
            
            <div class="list-card benefits-card card-hover">
                <h3>Beneficios Esperados del Sistema</h3>
                <ul>
                    <li>Digitalización de la gestión del ganado, permitiendo registrar altas, bajas, peso, raza y vacunación de manera centralizada.</li>
                    <li>Optimización de los procesos de venta con un control ordenado de las transacciones con la Sociedad Rural.</li>
                    <li>Control sanitario eficiente, facilitando el seguimiento de la salud del ganado y los planes de vacunación.</li>
                    <li>Ahorro de tiempo y recursos mediante la automatización de registros y reportes.</li>
                </ul>
            </div>
        </div>
    </section>